@import "src/variables/variables";


.proposal {
  margin-top: 40px;
  margin-left: 24px;
  @media (max-width: 800px) {
    margin-top: 10px;
  }
  @media (max-width: 420px) {
    display: none;
  }
  .menu {
    list-style:none;
    display: flex;
    &__item {
      display: block;
      padding: 4px 14px;
      border: 1px solid rgb(243, 243, 243);
      font-size: 12px;
      font-weight: 500;
      cursor: pointer;
    }
    &__item:first-child {
      background: $orangeBackgroundColor;
      color: #fff;
    }
  }
}