@import "src/variables/variables";



 
  .menuIcon {

    margin-right: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    @media (max-width: 800px) {
      justify-content: space-around;
      width: 100%;
    }
    .iconItems {
      margin-left: 50px;
      display: flex;
      justify-content: center;
      width: 30px;
      height: 30px;
      flex-direction: column;
      border-radius: 50%;
      cursor: pointer;
      position: relative;
      font-size: 14px;

      align-items: center;

      svg {
        width: 24px;

        height:24px;
        padding: 0;
        margin: 0 auto;
        border-radius: 50%;
        display: block;

        fill: #3b3b3b;

      }
    }
  }
