@import "src/variables/variables";


.headerLogo {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  z-index: 140;
  height: 80px;
  margin-bottom: 8px;
  cursor: pointer;
  text-decoration: none;
  &__icon {
    position: absolute;
    z-index: 120;
    left: 0;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    flex-basis: 70%;
    height: 70px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 30px;
      height: 18px;
      background: #fff;
      right: -10px;
      bottom: 38%;
    }
    .image {
      width: 38px;
      position: absolute;
      transform: rotate(-45deg);
      top: 0;
      height: 30px;
      img {
        width: 100%;
      }
    }
    svg {
      width: 64px;
      height: 64px;
      fill: $orangeBackgroundColor;
      background: transparent;
    }
  }

  &__text {

    z-index: 122;
    font-family: MOntserrat, sans-serif;
    letter-spacing: 3px;
    color: $orangeBackgroundColor;
    font-weight: 700;
    font-size: 1.2rem;
    margin-left: 50px;



    &:before {
      content: 'интернет магазин строительных материалов';
      position: absolute;
      display: block;
      width:65%;


      color: #303030;

      right: 0;
      top: 66%;
      font-size: .4rem;

      z-index: -1;
    }


  }
}

.menuBtnActive {
  span{
    &:before {
      transform: rotate(35deg);
    }
  }
}
.collapsed {
  background: #000;
}