//main
$sidebarWidth: 240px;
$sidebarHeight: 100vh;
$sidebarBackgroundColor: #ffffff;

$headerWidth: calc(100% - 240px);
$headerHeight: 50px;
$headerBackground: #fff;


$contentWidth: calc( 100% - 240px);
$contentHeight: calc(100% - 80px);

$mainFont: Montserrat, Arial, sans-serif;

$orangeBackgroundColor: rgb(250, 120, 33);

$burgerColor: #8d8d8d;