//main
$sidebarWidth: 260px;
$sidebarHeight: 100vh;
$sidebarBackgroundColor: #ffffff;

$headerWidth: calc(100% - 260px);
$headerHeight: 50px;
$headerBackground: #fff;


$contentWidth: calc( 100% - 260px);
$contentHeight: calc(100% - 80px);



$orangeBackgroundColor: #ff5100;