//main
$sidebarWidth: 234px;
$sidebarHeight: 100vh;
$sidebarBackgroundColor: #ffffff;

$headerWidth: calc(100% - 234px);
$headerHeight: 50px;
$headerBackground: #fff;

$dropDownLeft: 234px;

$contentWidth: calc( 100% - 234px);
$contentHeight: calc(100% - 90px);

$mainFont: Montserrat, Arial, sans-serif;

$orangeBackgroundColor: rgb(255, 119, 28);

$burgerColor: #8d8d8d;

$boxShadowNeuroUp: -2px -2px 8px rgba(255,255,255,1),
-2px -2px 12px rgba(255,255,255,0.5),
inset 2px 2px 4px #ffffff1a,
2px 2px 8px rgba(0,0,0,.15);