@import "src/variables/variables";

.content {
  margin-top: 170px;
  width: 100%;
  padding-top: 50px;
  height: 100vh;
  .slider {
    width: 100%;
    position: relative;
    display: flex;

    .propositions {
      width: 310px;
      height: 360px;
      margin-left: 20px;
      border: 1px solid silver;
      box-shadow: 0 2px 4px rgba(0,0,0,.1);


      padding: 0;
    }
  }
  .info {

    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px 20px;
    display: none;
    padding: 0 10px;

    .info__item {
      background: $orangeBackgroundColor;
      display: flex;
      height: 140px;
      align-items: center;
      border-radius: 4px;
      .itemImg {
        flex-basis: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 90%;

        }
      }
      .txt {
        flex-basis: 50%;
        color: #fff;
        font-size: 16px;
        text-align: left;


        .text {


        }
        .linkSpan{
          display: block;
          font-size: 13px;
          margin-top: 10px;
          text-decoration: underline solid;
          cursor: pointer;
        }
      }
    }

  }

}

@media (max-width: 1100px) {
 .content   {
   .info {
     display: none;
   }

 }
}

.goodsTitle {
  font-size: 30px;
  margin-top: 60px;
  margin-left: 20px;
  font-weight: 400;
}