


.wrapper {

  h6 {
    font-weight: 700;
    font-size: 0.96rem;
    margin-bottom: 14px;
    color: #000;
    transition: .3s ease;
    &:hover {
      cursor: pointer;
      color: orangered;
    }
  }
  .list {
    width: 150px;

    list-style: none;
    li {
      font-size: .94rem;
      display: block;
      margin: 7px 0;

      color: #000000;
      &:hover {
        cursor: pointer;
        color: orangered;
      }
    }
  }
}
