
@import "src/variables/variables";
.common {
  cursor: pointer;
  svg {
    fill:none;


    transition: .3s ease-in-out;
  }
}

.active {
  color: #61dafb;
  svg {

    fill: $orangeBackgroundColor;
    transition: .3s ease-in-out;

  }
}