@import "src/variables/variables";


.wrap {
  flex-basis: 40%;
  position: relative;



  .goodImage {
    width: 450px;
    height: 450px;
    padding: 0 20px;
    margin: 0 auto;
  //border: 1px solid silver;
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
.separate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  .goodItems {
    display: flex;
    justify-content: center;

    position: relative;
    .image {
      width: 50px;
      height: 50px;
      margin: 0 4px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      overflow: hidden;
      &:hover {
        border: 1px solid #efefef;
        box-shadow: 0 2px 4px rgba(0,0,0,.2);
      }
      img {
        display: block;
        width: 60%;
        height: 60%;
        object-fit: contain;
      }
    }
  }


    .btn {
      outline: none;
      width: 38px;
      height: 38px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      border:none;
      background: #fff;
      svg {
        width: 22px;
        height: 22px;



        fill: $orangeBackgroundColor;
      }

    }
    .left {

    }
    .right {

    }
  }
}


.active {
  border: 1px solid #efefef;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
}