@import "src/variables/variables";



.wrap {
  flex-basis: 40%;
  position: relative;
  .goodImage {
    width: 440px;


    padding: 020px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .goodItems {

  }
}