@import "src/variables/variables";


.header {
  width: $headerWidth;
  position: fixed;
  left: calc(50% - (calc((100% - 154px)/2)));
  background: silver;
  top: 0;
  background: $headerBackground;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  z-index: 101;
  @media (max-width: 800px) {
    left: 0;
    width: 100%;
    height: 60px;
    border-bottom: none;
  }

}