@import "src/variables/variables";


.header {
  width: $headerWidth;
  position: fixed;
  left: $sidebarWidth;
  top: 0;
  height: 160px;
  background: $headerBackground;
  padding-left: 80px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  z-index: 1001;
  @media (max-width: 800px) {
    left: 0;
    width: 100%;
    height: 60px;
    border-bottom: none;
  }

}