@import "src/variables/variables";


.sidebar {
  font-family: $mainFont;
  position: fixed;
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
  top: 0;
  overflow: hidden;
  width: $sidebarWidth;
  height: 100vh;
  background: $sidebarBackgroundColor;
  border-right: 1px solid #eaeaea;
  transition: all .3s ease ;
  .wrapper {
    position: relative;
    list-style: none;
    display: flex;
    width: $sidebarWidth;
    height: 50px;
    align-items: center;
    cursor: pointer;
    font-size: 13px;
    padding-left: 10px;

    &:nth-child(13) {
      
      margin-top: 44px;
      .icon {
        svg {
          fill: blue;
        }
      }
    }
    &:nth-child(14) {


      .icon {
        svg {
          fill: blue;
        }
      }
    }
    &:hover {
      background: $orangeBackgroundColor;
      .name {
        color: #fff;

      }
      .icon {

        svg {
          fill: #fff;
        }
      }
    }
    .icon {
      position: absolute;
      width: 40px;
      height: 40px;
      padding-left: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      svg{
        width: 29px;
        height: 29px;
        fill: $orangeBackgroundColor;
      }
    }
    .name {
      margin-left: 53px;
      font-size: 0.82rem;
      font-weight: 500;
      line-height: 18px;
      padding: 0 11px;

    }
  }
}

.collapsed {
  width: 70px;
  transition: .3s ease-in-out;
}