@import "src/variables/variables";


.sidebar {
  font-family: $mainFont;
  position: fixed;
  top: 0;
  z-index: 1001;
  width: $sidebarWidth;
  height: 100vh;
  background: $sidebarBackgroundColor;
  border-right: 1px solid #eaeaea;
  transition: all .3s ease ;
  @media (max-width: 800px) {
    left: -240px;
  }
  .dropDown {
    position: absolute;
    width:  700px;
    height:  100%;
    background: #fff;
    top: 10vh;
    left: $dropDownLeft;
    transition: .2s ease-in-out;
    z-index: 1001;
    visibility: hidden;
    opacity: 0;
  }
  .toggle {
    position: absolute;
    visibility: visible;
    opacity: 1;
    transition: .2s ease-in-out;
    width:  700px;
    height:  100%;
    background: #fff;
    top: 0;
    left: $dropDownLeft;

  }
  .wrapper {
    position: relative;
    list-style: none;
    display: flex;
    width: $sidebarWidth;
    height: 50px;
    align-items: center;
    cursor: pointer;
    font-size: 13px;
    padding-left: 10px;
    svg {
      fill:none;

    }

    &:nth-child(13) {
      
      margin-top: 44px;
      .icon {
        svg {
          fill: #7e7eff;
        }
      }
    }
    &:nth-child(14) {


      .icon {
        svg {
          fill: #7e7eff;
        }
      }
    }
    &:hover {
      background: $orangeBackgroundColor;
      .name {
        color: #fff;

      }
      .icon {

        svg {
          fill: #fff;
        }
      }
    }
    .icon {
      position: absolute;
      width: 40px;
      height: 40px;
      padding-left: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      svg{
        width: 29px;
        height: 29px;
        fill: $orangeBackgroundColor;
      }
    }
    .name {
      margin-left: 48px;
      font-size: 0.82rem;
      font-weight: 420;
      color: #000000;
      line-height: 18px;
      padding: 0 11px;

    }
  }
}

.collapsed {
  width: 70px;
  transition: .3s ease-in-out;
}
