@import "src/variables/variables";



.footer {
  position: relative;
  left: -78px;
  width: 98.8vw;
  padding: 0 80px;


  margin-top: 90px;
  height: 400px;
  background: #eaeaea;
  .sharesAndDiscounts {
    height: 80px;
    border-bottom: 1px solid silver;
    display: flex;
    align-items: center;
    .title {
      font-family: 'PT Root UI';
      font-weight: 700;
      font-size: 1.3rem;
    }
    .input {
      margin-left: auto;
      width: 40%;
      input {
        width: 100%;
        border: none;
        height: 34px;
        border-radius: 3px;
        &::placeholder {
          padding-left: 10px;
          color: #acacac;
        }
      }
    }
    .btn {
      margin: 0 160px 0 30px;
      font-family: 'PT Root UI';
      background: transparent;
      border: 1px solid rgba(0,0,0,.1);
      border-radius: 40px;
      padding: 10px 20px;
      cursor: pointer;
      font-weight: 500;
      transition: .1s ease-in-out;
      &:hover {
        background: $orangeBackgroundColor;
        color: #fff;
        font-weight: 400;
      }
    }
  }
}