@import "src/variables/variables";


.slideShow {
  width:1100px;
  margin-top: 220px;
  height: 360px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
  border: 1px solid #f5f5f5;
  background: #000;

  @media (max-width: 800px) {
    width: 700px;
  }
  @media (max-width: 420px) {
    width: 420px;
    height: 100px;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover ;
    @media (max-width: 800px){
      width: 700px;
    }
    @media (max-width: 420px){
      width: 420px;
    }

  }

  @media (max-width: 400px) {
    width: 400px;
  }
  .btns {

    .btn {
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      outline: none;
      position: absolute;
      cursor: pointer;
      background: #4a4a4a;
      right: 550px;
      bottom: 40px;
      color: #fff;
      border: 1px solid rgba(255,255,255,.67);
      @media (max-width: 420px) {
        top: 65px;
        width: 30px;
        height: 30px;
        font-size: 11px;
      }
      &:last-child {
        right: 60px;
      }
      &:first-child {
        right: 90px;
      }
      z-index: 101;
      .prev {
        content: '<';
        display: block;


      }
      .next {
        content: '>';

        color: #fff;

        display: block;



      }
    }
  }

    .image {
      width: 100%;
      height: 100%;
      position: absolute;
    }
}
.active {
  opacity: 1;
  visibility: visible;
  position: absolute;
  transform: scale(1);
  transition: .3s ease;

}

.slide {
  position: absolute;
  opacity: 0;
  transform: scale(.94);
  visibility: hidden;
  transition: .3s ease;

}