@import "src/variables/variables";


.slideShow {
  width:1100px;
  height: 360px;
  position: relative;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  border: 1px solid #e5e5e5;
  z-index: 10;
  &::before,
  &::after{
    content:'';

    display: block;
    position: absolute;
    width: 100%;
    height:92%;
    left: 13px;
    top: 9px;
    background: #acacac;
  }

  &::after{
    left: 6px;
    background: #6b6a6a;
    z-index: -1;
    height:95%;
  }
  &::before{
    top: 14px;
    z-index: -1;
  }
  .slide {
    width: 100%;
    height: 100%;
    background: #000;
  }






  .btns {

    .btn {
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      outline: none;
      position: absolute;
      cursor: pointer;
      background: #4a4a4a;
      right: 550px;
      bottom: 40px;
      color: #fff;
      border: 1px solid rgba(255,255,255,.67);
      @media (max-width: 420px) {
        top: 65px;
        width: 30px;
        height: 30px;
        font-size: 11px;
      }
      &:last-child {
        right: 60px;
      }
      &:first-child {
        right: 90px;
      }
      z-index: 101;
      .prev {
        content: '<';
        display: block;


      }
      .next {
        content: '>';

        color: #fff;

        display: block;



      }
    }
  }

    .image {
      width: 100%;
      height: 100%;
      position: absolute;
    }
}
.active {
  opacity: 1;
  width: 100%;
  height: 100%;
  visibility: visible;
  position: absolute;
  transform: scale(1);
  transition: .3s ease;



  img {
    width: 100%;
    height: 100%;

  }

}

.slide {
  position: absolute;
  opacity: 0;
  transform: scale(.99);
  visibility: hidden;
  transition: .3s ease;
  img {
    width: 100%;
    height: 100%;

  }
}