@import "src/variables/variables";


.slideShow {
  width: 600px;
  height: 200px;
  position: relative;

  .btn {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: none;
    position: absolute;
    cursor: pointer;
    background: #4a4a4a;
    right: 550px;
    bottom: 80px;
    color: #fff;
    border: 1px solid rgba(255,255,255,.67);

    &:last-child {
      right: -160px;
    }
    z-index: 101;
    .prev {
      content: '<';
      display: block;


    }
    .next {
      content: '>';

      color: #fff;

      display: block;



    }
  }
    .image {
      width: 100%;
      height: 100%;
      position: absolute;
    }
}
.active {
  opacity: 1;
  visibility: visible;
  position: absolute;
  transform: scale(1);
  transition: .3s ease;

}

.slide {
  position: absolute;
  opacity: 0;
  transform: scale(.94);
  visibility: hidden;
  transition: .3s ease;

}