@import "src/variables/variables";

.bottom {
  display: flex;
  align-items: center;
  position: relative;
  height: 80px;

  z-index: 1001;
  background: #fff;


  .goodsBtn {
    border: none;
    color: #fff;
    padding: 15px 32px 15px 50px;
    background: #000;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    position: relative;
    margin-left: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    .span {
      display: block;
      position: absolute;
      width: 12px;
      height: 2px;
      background: silver;
      left: 22px;
      top: 45%;

      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 12px;
        height: 2px;
        background: silver;

        top: 50%;
      }

      &:after {
        transform: translateY(-6px);
      }

      &:before {
        transform: translateY(5px);
      }
    }

  }

  @media(max-width: 800px) {
    position: fixed;
    bottom: 0;
    z-index: 1001;
    width: 100%;
    height: 60px;
    background: #f3f3f3;
    border-top: 1px solid rgba(124, 124, 124, 0.1);
    box-shadow: 0 -2px 12px rgba(0, 0, 0, .1);

  }

  .inputWrapper {
    position: relative;
    width: 50%;
    height: 40px;
    display: flex;

    align-items: center;
    margin-left: auto;
    @media (max-width: 800px) {
      display: none;
    }

    .input {
      display: block;
      width: 100%;


      input {
        width: 100%;
        height: 32px;
        outline: none;
        border: none;
        border-bottom: 1px solid silver;
        padding-left: 30px;

        &::placeholder {
          font-size: 1rem;
          font-family: Montserrat, sans-serif;
          font-weight: 300;
        }
      }
    }

    .btn {
      border: none;
      position: absolute;
      width: 30px;
      height: 30px;
      display: flex;
      right: 8px;
      top: 9px;
      background: transparent;
      align-items: center;
      justify-content: center;
      outline: none;
      cursor: pointer;

      &:hover {
        svg {
          transition: .2s;
          fill: $orangeBackgroundColor;
        }
      }

      svg {
        fill: #6e6d6d;
        width: 22px;
      }
    }

  }

  ul {
    margin-left: auto;
    list-style: none;
    display: flex;

    li {

    }
  }
}

