

.breadCrumbs {
  width: 100%;
  height: 40px;
  background: #ffffff;
  .list {
    display: flex;
    list-style: none;
    height: 100%;

    align-items: center;
    .item {
      margin: 0 10px;
      position: relative;
      font-size: 14px;
      cursor: pointer;
      &:last-child:after {

        display: none;
      }
      &:after {
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        right: -10px;
        border-right: 1px solid black;
        border-top: 1px solid black;
        transform: rotate(45deg);
        top: 50%;

      }
    }
  }

}