@import "src/variables/variables";

.list {
 @media(max-width: 420px) {
   width: 400px;
   overflow-x: scroll;
   overflow-y: hidden ;
 }
}
.title {
  font-size: 30px;
  margin-top: 60px;
  margin-left: 20px;
  font-weight: 400;

}
.goodsPropositions {
  display: grid;
  margin-top: 20px;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
 @media (max-width: 1300px) {
   grid-template-columns: 1fr  1fr 1fr 1fr;
 }
  @media (max-width: 1100px)  {
    grid-template-columns: 1fr  1fr 1fr 1fr 1fr ;
  }
  .goodsItem {
    text-decoration: none;
    align-self:center;

    .wrap {

      box-shadow: 0 21px 14px rgba(0,0,0,.1);
      padding: 20px;
      width: 240px;
      border-radius: 4px;

      .separate {
        display: flex;
        align-items: center;

        .sticker {
          font-size: 11px;
          background: #ff450d;
          color: #fff;
          padding: 4px;
          margin-right: 40px;


        }
        .rating {

        }


      }
      a {
        text-decoration: none;
      }
      .image {
        width: 160px;
        height: 160px;
        align-items: center;
        display: flex;
        justify-content: center;

        margin: 10px auto;
        text-decoration: none;
        img {
          width: 90%;

        }
      }
      .spanWrap {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        .spanTitle {
          display: block;
          color: #000;
          height: 60px;
          text-decoration: none;

        }
        .price {
          margin-top: 10px;
          color: #ff450d;
          font-size: 24px;
          display: block;
        }
      }

      .btn {
        border: none;
        background: #983dd9;
        color: #fff;
        padding: 6px 20px;
        margin-top: 10px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0,0,0,.2);
      }
    }
  }
}