


.itemWrapper {

  height: 48px;
  width: 100%;
  font-family: Arial;
  display: flex;
  flex-direction: column;
  .separate {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      .title {
        color: orangered;
      }
    }
    .icon {
      position: absolute;
      height: 46px;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 66px;
      svg {
        fill : orangered;
        width: 24px;
        height: 24px;
      }

    }
    .title {
      margin-left: 64px;
      color: #000;
      font-family: 'PT Root UI';
      font-weight: 500;
      font-size: 0.95rem;
      padding-right: 20px;

    }
  }

}


.hidden {
  position: absolute;
  left: 320px;
  height: 100%;
  min-width: 600px;
  padding-top: 20px;
  background: #efeeee;
  opacity: 0;
  visibility: hidden;
  display: flex;
  overflow-y: auto;

  flex-wrap:  wrap;
  top: 0;
  transition: .1s top, .2s opacity, .2s visibility;
  transition-delay: .3s;
}

.visible {
  top: 0;
  visibility: visible;
  opacity: 1;


}

.dropWrapper {

  margin: 0 20px;
  height: auto;
  width: 200px;



  .dropTitle {
    margin: 10px 0;

    font-weight: 700;
    cursor: pointer;
    &:hover {
      color: orangered;
    }

  }
  .dropItems {
    display: flex;
    flex-direction: column;
    .item {
      cursor: pointer;
      margin: 2px 0;
      &:hover {
        color: orangered;
      }
    }

  }
}